<<<<<<< HEAD
<% for(var i=0; i < users.length; i++){ %>
    <tr>
        <td><%= i + 1 %></td>
        <td><%= users[i].bookName%></td>
        <td><%= users[i].writerName %></td>
        <td><%= users[i].prize %></td>
        <td><%= users[i].status %></td>
        <td>
            <a href="/update-book?id=<%= users[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a class="btn border-shadow delete" data-id=<%= users[i]._id %>>
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
<% } %>
=======
<tr>
    <td>1</td>
    <td>Name</td>
    <td>writer name</td>
    <td>350</td>
    <td>Available</td>
    <td>
        <a href="/update-book" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
>>>>>>> b9d150d0aff5d5c81aea586400a9c513dffdc01a
